@{
    ViewData["Title"] = "LockScreen";
    Layout = "~/Areas/Admin/Views/Shared/Theme/_BlankLayout.cshtml";
}

<body class="authentication-bg" style="background-color:white;">
    <div class="account-pages my-5  pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div>
                        <a href="#" class="mb-5 d-block auth-logo">
                            <img src="~/DIBN_Logo.png" alt="" height="70" class="logo logo-dark">
                        </a>
                        <div class="card">

                            <div class="card-body p-4">

                                <div class="text-center mt-2">
                                    <h3 class="text-primary">Congratulation.</h3>
                                    <h5 class="text-muted">Your Account has been Activated..!</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
</body>