@{
    ViewData["Title"] = "LockScreen";
    Layout = "~/Areas/Admin/Views/Shared/Theme/_BlankLayout.cshtml";
}
<html>
<body class="authentication-bg" style="background-color:white;">
    <div class="account-pages my-5  pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div>
                        <a href=@Url.Action("ForgotPasswod", "Account") class="mb-5 d-block auth-logo">
                            <img src="~/DIBN_Logo.png" alt="" height="90" class="logo logo-dark">
                        </a>
                        <div class="card">

                            <div class="card-body p-4">

                                <div class="text-center mt-2">
                                    <h5 class="text-theme">Reset Password</h5>
                                </div>
                                <div class="p-2 mt-4">
                                    <div class="alert alert-success text-center mb-4" role="alert">
                                        Enter your Email and instructions will be sent to you!
                                    </div>
                                    <form action="@Url.Action("ResetPassword", "Account")" method="post">

                                        <div class="mb-3">
                                            <label class="form-label" for="useremail">Email</label>
                                            <input type="email" class="form-control"name="Email" placeholder="Enter email">
                                        </div>

                                        <div class="mt-3 text-end">
                                            <button class="btn btn-theme w-sm waves-effect waves-light" type="submit">Reset</button>
                                        </div>


                                        <div class="mt-4 text-center">
                                            <p class="mb-0">Remember It ? <a href=@Url.Action("Login", "Account") class="fw-medium text-theme"> Signin </a></p>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Sweet Alerts-->
    <script src="~/assets/libs/sweetalert2/sweetalert2.all.min.js"></script>
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" />
    <script>
        $(function(){

            const swalWithBootstrapButtons = Swal.mixin({
              customClass: {
                confirmButton: 'ms-3 btn btn-success',
                cancelButton: 'btn btn-danger'
              },
              buttonsStyling: false
            })
            var message = '@ViewData["Message"]';
            if(message!=""){
                if(message.startsWith("Email")){
                    swalWithBootstrapButtons.fire({
                        title: 'Success.',
                        text: message,
                        icon: 'success'
                    }).then((result) => {
                        message = "";
                        window.location.href="@Url.Action("Login","Account")";
                    });
                }else{
                    swalWithBootstrapButtons.fire({
                        title: 'Failed.',
                        text: message,
                        icon: 'error'
                    }).then((result) => {
                        message = "";
                        window.location.href="@Url.Action("ForgotPassword","Account")";
                    });
                }
            }
        });
    </script>
</body>
</html>